<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Survey</title>
</head>
<style>
    body {
        overflow-x: hidden;
    }
    .welcome-text {
        text-align: center;
        margin-top: 50px;
        padding: 0 20px;
    }

    .welcome-text-2 {
        text-align: center;
        margin-top: 50px;
    }

    .main-section{
        width: 600px;
        margin: 50px auto;
        padding: 50px;
    }

    .submit-question-btn{
        background-color: #0275d8;
        color: white;
        font-size: 18px;
        border: none;
        padding: 8px 20px;
        margin-top: 10px;
        border-radius: 5px;
    }

    @media only screen and (max-width: 600px) {
        .main-section{
        width: 90%;
        margin: 50px auto;
        padding: 40px;
    }

    .welcome-text {
        text-align: center;
        margin-top: 30px;
        padding: 0 20px;
    }

    .welcome-text-2 {
        text-align: center;
        margin-top: 30px;
    }
}

</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/admin/dashboard">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
          </ul>
          <button type="button" onclick="location.href='/user/signout';" class="btn btn-warning">Sign Out</button>
        </div>
      </nav> 

      <div class="main-section">
        <form method="POST" action="/question/edit/<%=subject%>/<%= question._id %>">
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Question</label>
                <textarea class="form-control" name="question" id="exampleFormControlTextarea1" rows="3"><%= question.question%></textarea>
              </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Answer</label>
              <textarea class="form-control" name="answer" id="exampleFormControlTextarea1" rows="3"><%= question.answer%></textarea>
            </div>
            <input class="submit-question-btn" type="submit" value="Update Question">
          </form>
      </div>
 
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</html>