<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    .flash-message {
      text-align: center;
      position: absolute;
      left: 50%;
      top: 10%;
      font-size: 25px;
      transform: translate(-50%, -50%);
      color: white;
    }
  </style>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/jpg" href="/assets/app_icon.svg" />
  <link rel="stylesheet" href="/css/login.css" />

  <title>Survey</title>
</head>

<body>

  <h5 id="flash-message" class="flash-message">
    <%= flashMessages.message %>
  </h5>
  <form method="POST" action="/user/login" class="signup">
    <h1>Login</h1>
    <br />

    <div class="signup__field">
      <input class="signup__input" type="text" name="email" id="email" required />
      <label class="signup__label" for="email">Email</label>
    </div>

    <div class="signup__field">
      <input class="signup__input" type="password" name="password" id="password" required />
      <label class="signup__label" for="password">Password</label>
    </div>
    <!-- <h3>Select Role</h3>
            <br/>
            <div class="role">
              <select id="standard-select" class="role-select">
                <option value="Option 1">Select</option>
                <option value="Option 2">user</option>
                <option value="Option 3">admin</option>
              </select>
            </div> -->
    <br />
    <input type="submit" value="Login">

    <br />
    <h2>Not yet registered? <span> <a style="color: #7686f9; text-decoration: none;" href="/signup">Sign up</a> </span>
    </h2>

  </form>

</body>
<script>
  setTimeout(function () {
    document.getElementById('flash-message').style.display = 'none';
  }, 5000);
</script>

</html>